%YAML:1.0
model_type: PINHOLE
camera_name: camera
image_width: 720
image_height: 540
distortion_parameters:
    k1: -0.21272110177039052
    k2: 0.18283401892861978
    p1: -0.00018083866109219808
    p2: 0.0011164116025029272
projection_parameters:
    fx: 893.6263545058326
    fy: 893.9655105687939
    cx: 376.95348001716707
    cy: 266.57152598273194
