%YAML:1.0

#--------------------------------------------------------------------------------------------
# Common Parameters
#--------------------------------------------------------------------------------------------

imu: 1
num_of_cam: 2

imu_topic: "/vectornav/imu"
image0_topic: "/camera_array/cam1/image_raw"
image1_topic: "/camera_array/cam3/image_raw"

output_path: "/results/vins_fusion"

#--------------------------------------------------------------------------------------------
# Camera Parameters
#--------------------------------------------------------------------------------------------

model_type: PINHOLE
camera_name: camera

image_width: 720
image_height: 540

distortion_parameters:
    k1: -0.21272110177039052
    k2: 0.18283401892861978
    p1: -0.00018083866109219808
    p2: 0.0011164116025029272

projection_parameters:
    fx: 893.6263545058326
    fy: 893.9655105687939
    cx: 376.95348001716707
    cy: 266.57152598273194

#--------------------------------------------------------------------------------------------
# Extrinsic Parameters (Body to Camera)
#--------------------------------------------------------------------------------------------

body_T_cam0: !!opencv-matrix
    rows: 4
    cols: 4
    dt: d
    data: [-0.0147174480, -0.0029155142, 0.9998874419, 0.0574620085,
         0.9998772350, 0.0053346061, 0.0147328527, -0.2479071600,
         -0.0053769595, 0.9999815207, 0.0028366444, -0.0039420732,
         0.0000000000, 0.0000000000, 0.0000000000, 1.0000000000]

body_T_cam1: !!opencv-matrix
    rows: 4
    cols: 4
    dt: d
    data: [-0.0147174480, -0.0029155142, 0.9998874419, 0.0574620085,
         0.9998772350, 0.0053346061, 0.0147328527, -0.2479071600,
         -0.0053769595, 0.9999815207, 0.0028366444, -0.0039420732,
         0.0000000000, 0.0000000000, 0.0000000000, 1.0000000000]  # Approximation - should chain transforms

#--------------------------------------------------------------------------------------------
# IMU Parameters
#--------------------------------------------------------------------------------------------

acc_n: 0.0014126598501078217
gyr_n: 7.77970988215584e-05
acc_w: 1.9005701759499173e-05
gyr_w: 3.3171207235534e-07
g_norm: 9.81007

#--------------------------------------------------------------------------------------------
# Feature Tracking Parameters
#--------------------------------------------------------------------------------------------

max_cnt: 150
min_dist: 25
freq: 10
F_threshold: 1.0
show_track: 0
flow_back: 1

#--------------------------------------------------------------------------------------------
# Optimization Parameters
#--------------------------------------------------------------------------------------------

max_solver_time: 0.04
max_num_iterations: 8
keyframe_parallax: 10.0
estimate_extrinsic: 0  # 0: fixed, 1: optimize, 2: estimate initial

#--------------------------------------------------------------------------------------------
# Loop Closure (DISABLED for benchmarking)
#--------------------------------------------------------------------------------------------

loop_closure: 0
